.label-long {
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 0 7px 0 1px;
    border-radius: var(--size-border-radius-label-long);
    background-color: var(--color-minty-green-500);
    font-family: var(--font-family-textbold-50);
    font-weight: var(--font-weight-textbold-50);
    font-size: var(--size-font-textbold-50);
    line-height: var(--size-lineheight-textbold-50);
    color: var(--color-absolute-white);
    text-transform: uppercase;
}

.icon-label-long {
    margin-right: -2px;
}

.icon-label-long path {
    stroke: var(--color-absolute-white);
}