.label-short {
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 0 7px 0 1px;
    border-radius: var(--size-border-radius-label-short);
    background-color: var(--color-ripe-red-500);
    font-family: var(--font-family-textbold-50);
    font-weight: var(--font-weight-textbold-50);
    font-size: var(--size-font-textbold-50);
    line-height: var(--size-lineheight-textbold-50);
    color: var(--color-cold-gray-000);
    text-transform: uppercase;
}

.icon-label-short {
    margin-right: -2px;
}

.icon-label-short > svg > path {
    stroke: var(--color-cold-gray-000) !important;
}