@import "../../variables/_colors.css";

.header {
    --color-cold-gray-800: #2a2e39;
    --color-cold-gray-900: #131722;
    --color-cold-gray-000: #ffffff;
    --color-cold-gray-700: #434651;
    --color-cold-gray-300: #b2b5be;
}
.headerTop {
    background-color: var(--color-cold-gray-800);
    width: 100%;
    height: 54px;
}

.headerBottom {
    background-color: var(--color-cold-gray-900);
    width: 100%;
    height: 54px;
}

.headerGrids {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

@media screen and (max-width: 767px) {
    .headerGrids {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 54px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
}

.logo .logoBig {
    display: inline-block;
}

.logo .logoSmall {
    display: none;
}

.link {
    text-decoration: none;
    color: var(--color-cold-gray-000);
    font-family: var(--font-family-text-200);
    font-weight: var(--font-weight-text-200);
    letter-spacing: var(--font-spacing-text-200);
    line-height: var(--size-lineheight-text-200);
    font-size: var(--size-font-text-200);
    margin-right: 24px;
}

.logo svg .logo-cloud {
    fill: var(--color-brand-color);
}

.searchInputBlock {
    padding-left: 150px;
    padding-right: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
}


@media screen and (max-width: 767px) {
    .logo .logoSmall {
        display: inline-block;
    }
    .logo .logoBig,
    .searchInputBlock {
        display: none;
    }
}

.searchInputBlock input {
    width: 100%;
    background: var(--color-cold-gray-700);
    border-radius: var(--size-border-radius-search);
    border: 1px solid rgba(0,0,0,0);
    height: 34px;
    padding: 0 14px;
    color: var(--color-cold-gray-300);
    font-family: var(--font-family-text-200);
    font-weight: var(--font-weight-text-200);
    letter-spacing: var(--font-spacing-text-200);
    line-height: var(--size-lineheight-text-200);
    font-size: var(--size-font-text-200);
}

.menuLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.changeTheme,
.changeGrids {
    cursor: pointer;
    margin-left: 12px;
}

.changeGrids svg circle,
.changeGrids svg path,
.changeTheme svg circle,
.changeTheme svg path {
    stroke: var(--color-cold-gray-000);
}