.btn {
    height: 34px;
    display: inline-flex;
    cursor: pointer;
    outline: none;
    background-color: var(--color-brand-color);
    border-radius: var(--size-border-radius-button);
    border: 1px solid var(--color-brand-color);
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    color: var(--color-absolute-white);
    font-family: var(--font-family-body-m);
    font-weight: var(--font-weight-body-m);
    letter-spacing: var(--font-spacing-body-m);
    line-height: var(--size-lineheight-body-m);
    font-size: var(--size-font-body-s);
}