.menu {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
    padding: 0;
}
.menu li {
    list-style: none;
    margin-right: 40px;
    white-space: nowrap;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: var(--color-cold-gray-100);
    font-family: var(--font-family-text-200);
    font-weight: var(--font-weight-text-200);
    letter-spacing: var(--font-spacing-text-200);
    line-height: var(--size-lineheight-text-200);
    font-size: var(--size-font-text-200);
}

.menu li a path {
    fill: var(--color-cold-gray-100);
}

@media screen and (max-width: 767px) {
    .menu {
        overflow-y: scroll;
        max-width: 100%;
    }
}