.theme-colors-dark {
	--color-cold-gray-000: #000000;
	--color-cold-gray-900: #f0f3fa;
	--color-cold-gray-150: #2a2e39;
	--color-cold-gray-500: #b2b5be;
	--color-ripe-red-500: #f44336;
	--color-purple-notes: #d828dc;
	--color-minty-green-500: #009688;
	--color-cold-gray-100: #131722;
	--color-brand-color: #2196f3;
	--color-cold-gray-200: #434651;
	--color-cold-gray-300: #787b86;
	--color-cold-gray-700: #d1d4dc;
	--color-cold-gray-800: #e0e3eb;
	--color-brand-color-hover: #1976d2;
}