.grids-card {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--grids-card-count), 1fr);
    grid-column-gap: var(--size-grids-card-gutter);
    padding: 0 var(--size-grids-card-offset);
    justify-items: stretch;
}

.card {
    background-color: var(--color-absolute-white);
    border-radius: var(--size-border-radius-card-base);
    box-shadow: var(--effects-card-shadow);
    margin-bottom: var(--size-spacers-spacer-500);
    padding: var(--size-spacers-spacer-500) 0;
}

.card .title {
    color: var(--color-cold-gray-900);
    margin: 0 0 var(--size-spacers-spacer-200);
    padding: 0;
    font-family: var(--font-family-text-300);
    font-weight: var(--font-weight-text-300);
    letter-spacing: var(--font-spacing-text-300);
    line-height: var(--size-lineheight-text-300);
    font-size: var(--size-font-text-300);
}

.card .picture {
    border-radius: 4px;
    border: 1px solid var(--color-cold-gray-150);
    background: var(--color-absolute-white);
    width: 100%;
    overflow: hidden;
    margin-bottom: var(--size-spacers-spacer-300);
}

.card .picture img {
    width: 100%;
}

.card .paragraph {
    color: var(--color-cold-gray-900);
    font-family: var(--font-family-text-200);
    font-weight: var(--font-weight-text-200);
    letter-spacing: var(--font-spacing-text-200);
    line-height: var(--size-lineheight-text-200);
    font-size: var(--size-font-text-200);
    margin-bottom: var(--size-spacers-spacer-500);
}

.card .price-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: var(--size-spacers-spacer-500);
}

.card .price-info .currency {
    color: var(--color-cold-gray-900);
    font-family: var(--font-family-text-200);
    font-weight: var(--font-weight-text-200);
    letter-spacing: var(--font-spacing-text-200);
    line-height: var(--size-lineheight-text-200);
    font-size: var(--size-font-text-200);
    margin-left: 12px;
    margin-right: 5px;
}

.card .price-info .currencyPrice {
    color: var(--color-cold-gray-500);
    font-family: var(--font-family-text-200);
    font-weight: var(--font-weight-text-200);
    letter-spacing: var(--font-spacing-text-200);
    line-height: var(--size-lineheight-text-200);
    font-size: var(--size-font-text-200);
}

.card .user-info {
    margin-bottom: var(--size-spacers-spacer-300);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .user-info .viewrs-info {
    color: var(--color-cold-gray-500);
    font-family: var(--font-family-text-100);
    font-weight: var(--font-weight-text-100);
    letter-spacing: var(--font-spacing-text-100);
    line-height: var(--size-lineheight-text-100);
    font-size: var(--size-font-text-100);
}

.card .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .footer-second-column {
    width: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card svg path {
    stroke: var(--color-cold-gray-900);
}