.button-comment {
    cursor: pointer;
    height: 36px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-family-text-100);
    font-weight: var(--font-weight-text-100);
    letter-spacing: var(--font-spacing-text-100);
    line-height: var(--size-lineheight-text-100);
    font-size: var(--size-font-text-100);
    color: var(--color-cold-gray-900);
}
.button-comment svg path {
    stroke: var(--color-cold-gray-900);
}

.button-comment svg rect {
    fill: var(--color-cold-gray-900);
}

.button-comment:hover svg {
    fill: var(--color-brand-color);
}

.button-comment .count {
    margin-left: 4px;
}