body {
    background-color: var(--color-cold-gray-100);
}

.layout {
    max-width: 1540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.header-top {
    background-color: var(--color-cold-gray-800);
    width: 100%;
    height: 54px;
}

.header-bottom {
    background-color: var(--color-cold-gray-900);
    width: 100%;
    height: 54px;
}

.menu {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
    padding: 0;
}
.menu li {
    list-style: none;
    margin-right: 40px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: var(--color-cold-gray-100);
    font-family: var(--font-family-body-m);
    font-weight: var(--font-weight-body-m);
    letter-spacing: var(--font-spacing-body-m);
    line-height: var(--size-lineheight-body-m);
    font-size: var(--size-font-body-m);
}

.body {
    padding-top: 38px;
}

.heading {
    margin: 0 0 24px;
    padding: 0;
    font-family: var(--font-family-h-2);
    font-weight: var(--font-weight-h-2);
    letter-spacing: var(--font-spacing-h-2);
    line-height: var(--size-lineheight-h-2);
    font-size: var(--size-font-h-2);
}
.heading_m {
    margin: 0 0 8px;
    padding: 0;
    font-family: var(--font-family-h-3);
    font-weight: var(--font-weight-h-3);
    letter-spacing: var(--font-spacing-h-3);
    line-height: var(--size-lineheight-h-3);
    font-size: var(--size-font-h-3);
}

.grids-3-colums {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--grids-web-3-column-count), 1fr);
    grid-column-gap: var(--size-grids-web-3-column-gutter);
    padding: 0 var(--size-grids-web-3-column-offset);
    justify-items: stretch;
}

@media screen and (max-width: 992px) {
    .grids-3-colums {
        grid-template-columns: repeat(var(--grids-web-2-column-count), 1fr);
        grid-column-gap: var(--size-grids-web-2-column-gutter);
        padding: 0 var(--size-grids-web-2-column-offset);
    }
}

@media screen and (max-width: 600px) {
    .grids-3-colums {
        grid-template-columns: repeat(var(--grids-card-count), 1fr);
        grid-column-gap: var(--size-grids-card-gutter);
        padding: 0 var(--size-grids-card-offset);
    }
}

.grids-card {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--grids-card-count), 1fr);
    grid-column-gap: var(--size-grids-card-gutter);
    padding: 0 var(--size-grids-card-offset);
    justify-items: stretch;
}

.card {
    background-color: var(--color-absolute-white);
    border-radius: 8px;
    box-shadow: var(--effects-card-shadow);
    margin-bottom: 20px;
    padding: 20px 0;
}

.picture {
    border-radius: 4px;
    border: 1px solid var(--color-cold-gray-150);
    background: var(--color-absolute-white);
    height: 254px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 12px;
}

.paragraph {
    font-family: var(--font-family-body-m);
    font-weight: var(--font-weight-body-m);
    letter-spacing: var(--font-spacing-body-m);
    line-height: var(--size-lineheight-body-m);
    font-size: var(--size-font-body-m);
}