body {
    background-color: var(--color-cold-gray-100);
}

.layout {
    max-width: 1540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.header-top {
    background-color: var(--color-cold-gray-800);
    width: 100%;
    height: 54px;
}

.header-bottom {
    background-color: var(--color-cold-gray-900);
    width: 100%;
    height: 54px;
}

.menu {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
    padding: 0;
}
.menu li {
    list-style: none;
    margin-right: 40px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: var(--color-cold-gray-100);
    font-family: var(--font-family-body-m);
    font-weight: var(--font-weight-body-m);
    letter-spacing: var(--font-spacing-body-m);
    line-height: var(--size-lineheight-body-m);
    font-size: var(--size-font-body-m);
}
