body {
    background-color: var(--color-cold-gray-100);
}

.layout {
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.header-top {
    background-color: var(--color-cold-gray-800);
    width: 100%;
    height: 54px;
}

.header-grids {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

@media screen and (max-width: 520px) {
    .header-grids {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 54px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
}

.search-input-block {
    padding-left: 150px;
    padding-right: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
}

@media screen and (max-width: 520px) {
    .search {
        display: none;
    }
}

.search-input-block input {
    width: 100%;
    background: var(--color-cold-gray-700);
    border-radius: 17px;
    border: 1px solid rgba(0,0,0,0);
    height: 34px;
    padding: 0 14px;
    color: var(--color-cold-gray-300);
    font-family: var(--font-family-body-m);
    font-weight: var(--font-weight-body-m);
    letter-spacing: var(--font-spacing-body-m);
    line-height: var(--size-lineheight-body-m);
    font-size: var(--size-font-body-m);
}

.link {
    text-decoration: none;
    color: var(--color-absolute-white);
    font-family: var(--font-family-body-m);
    font-weight: var(--font-weight-body-m);
    letter-spacing: var(--font-spacing-body-m);
    line-height: var(--size-lineheight-body-m);
    font-size: var(--size-font-body-m);
}

.header-bottom {
    background-color: var(--color-cold-gray-900);
    width: 100%;
    height: 54px;
}


.body {
    padding-top: 38px;
    padding-bottom: 24px;
}

.heading {
    margin: 0 0 24px;
    padding: 0;
    font-family: var(--font-family-h-2);
    font-weight: var(--font-weight-h-2);
    letter-spacing: var(--font-spacing-h-2);
    line-height: var(--size-lineheight-h-2);
    font-size: var(--size-font-h-2);
}

.grids-3-colums {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--grids-web-3-column-count), 1fr);
    grid-column-gap: var(--size-grids-web-3-column-gutter);
    padding: 0 var(--size-grids-web-3-column-offset);
    justify-items: stretch;
}

@media screen and (max-width: 1100px) {
    .grids-3-colums {
        grid-template-columns: repeat(var(--grids-web-2-column-count), 1fr);
        grid-column-gap: var(--size-grids-web-2-column-gutter);
        padding: 0 var(--size-grids-web-2-column-offset);
    }
}

@media screen and (max-width: 520px) {
    .grids-3-colums {
        grid-template-columns: repeat(var(--grids-card-count), 1fr);
        grid-column-gap: var(--size-grids-card-gutter);
        padding: 0 0;
    }
}



